/*Generall*/
:root{
    background-color: rgb(27, 18, 83);
    color: rgb(255, 253, 253);
  }

  @font-face {
   font-family:'ArsenalSC';
   src:
        url('./font/ArsenalSC-Regular.ttf');
    font-weight: 400;
    font-style: regular; 
}

body {
    font-family: ArsenalSC;
}

/* Navigation */ 
.nav{
    background-color: royalblue;
    position: fixed;
    display: inline;
    text-align: left;   
}
/*Bilder*/

.Startseite-Bild{
    margin-top: 50px;
    display:flex;
    align-items: left;
}


h1{
    background-color: royalblue;
    color: rgb(27, 18, 83);
    text-align: center;
}

h2{
   color: rgb(255, 253, 253);
   text-align: center;
}
p{
    color: rgb(255, 253, 253);
    margin:auto;
}



link {
   font-variant: initial; 
}
