body {
    margin: 0;
    padding: 0;
    cursor: url('image/Cursor.png'), auto; /* Cursor */
    font-family: interstate-condensed,monospace; 
    font-size: 20px;
    
   

/* Hintergrundbild */
    background-image: url('image/Papierstruktur.jpg'); /* Bild-Datei */
    background-size: cover; /* Bild wird skaliert, um den gesamten Bereich auszufüllen */
    background-position: center; /* Bild wird zentriert */
    background-attachment: fixed; /* Bild bleibt beim Scrollen fest */
}

a { 
    cursor: url('image/CursorLink.png') !important; /* Cursor */
}

/* Alle Überschriften */
h1{
    color: #007BFF; /* Neutral color */ 
    font-size: 45px;
    text-align: left;
    font-weight: normal;
    margin-left: 50px; /* Abstand von linker Seite */
    margin-top: 50px;
}


/* Navigation */
.right-navigation ul {
    position: absolute;
    right: 0;
    width: 33.33%; /* Right third */
    text-align: left;
    box-sizing: border-box;
    list-style-type: none; /*Punkte gehen weg*/
    margin-top:30px;
}
/* Links in der Liste */
.right-navigation ul a {
    text-decoration: none; /* Remove underline */
    color: #007BFF; 
    font-size: 45px;
    font-stretch: semi-expanded;
    transition: color 0.3s ease;
}

/* Hover effect for links */
.right-navigation ul a:hover {
    color: #333; /* Change color on hover */
}

/* Überschrift */
.CharlotteSchröter {
    color: #007BFF; /* Neutral color */ 
    font-size: 45px;
    font-stretch: semi-expanded;   
    margin-top: 50px;
}

.CharlotteSchröter :hover {
    color: #333; /* Change color on hover */
}


/*--------------Bild Papier--------------*/
.hover-image1 {
    margin: 50px; /*Positionierung*/
    margin-bottom: 0;
    width: 28%; /* Größe des Bildes */
    height: auto; /* Automatische proportionale Höhe */
}
.hover-image1:hover {
    transform: scale(1.1); /* Bild wird größer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


/*--------------Bild Buch--------------*/
.hover-image2 {
    width: 50%; /* Größe des Bildes */ 
    height: auto; /* Automatische proportionale Höhe */
    margin: 50px;  
    margin-left: 45%;   
    margin-bottom: 0;
    margin-top: 0;

}
.hover-image2:hover {
    transform: scale(1.1); /* Bild wird größer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*--------------Bild Erdnuss--------------*/
.hover-image3 {
    width: 35%;
    height: auto; /* Automatische proportionale Höhe */
    display: block;
    margin-top: 50px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;  
}   

.hover-image3:hover {
    transform: scale(1.1); /* Bild wird größer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*--------------Bild Kochbuch--------------*/
.hover-image4 {
    width: 45%;
    height: auto; /* Automatische proportionale Höhe */
    margin-top: 50px ;
    margin-bottom: 0;
    margin-left: 50%;
   
}   

.hover-image4:hover {
    transform: scale(1.1); /* Bild wird größer */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
    
/*-------------- ABOUT UNTERSEITE --------------*/
.ich {
    margin-left: 50px;
    width: 28%;
    height: auto; 
    margin-top: 20px;
 
}
.Unterschrift {
    margin-left: 70%;
 
}  

h1{
    margin-top: 20px;

}
p {
    position: absolute;
    left: 35%;
    right: 10%;
    margin-top: 20px;
    text-align: justify;
}


/*-------------- CONTACT UNTERSEITE --------------*/
.contact {
   margin-left: 50px;
   text-align: left;
   margin-top: 50px;
}

.instagram{
    display: inline-block;
    width: 60px;               /* Breite des Buttons */
    height: 60px;              /* Höhe des Buttons */
    background-color: #007BFF; 
    color: white;              /* Weiße Schriftfarbe */
    text-align: center;        /* Text zentrieren */
    line-height: 60px;         /* Vertikale Zentrierung des Textes */
    border-radius: 50%;        /* Macht den Button rund (Kreis) */
    font-size: 20px;           /* Schriftgröße */
    text-decoration: none;     /* Entfernt den Link-Unterstrich */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung */
    transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
    margin-top: 50px;
    margin-left: 50px;
}

.instagram:hover {
    background-color: white; /* Added missing semicolon */
    transform: scale(1.1);      /* Button vergrößern */
}


/*-------------- Papier Projekt UNTERSEITE --------------*/   
.PapierIgel {
    margin: 50px;
}

.textExperimentePapier {
    font-size: 20px;
    font-stretch: semi-expanded;
    text-align: justify;
    margin:50px;
    max-width: 50%;
    padding-left: 50px;
    position: absolute;
}

.image-containerPapier {
    display: grid; /* Aktiviert das Grid-Layout */
    grid-template-columns: repeat(5, 1fr); /* 5 Spalten */
    gap: 10px; /* Abstand zwischen den Bildern */
    margin: 50px;

}
.image-containerPapier img {
    width: 100%; /* Bilder nehmen die volle Breite der Zellen ein */
    height: auto; /* Bildhöhe wird automatisch angepasst */
    object-fit: cover; /* Sorgt dafür, dass die Bilder das Verhältnis beibehalten und gleichzeitig den Container füllen */
}

.circle-button3 {
    display: inline-block;
    width: 60px;               /* Breite des Buttons */
    height: 60px;              /* Höhe des Buttons */
    background-color: #007BFF; 
    color: white;              /* Weiße Schriftfarbe */
    text-align: center;        /* Text zentrieren */
    line-height: 60px;         /* Vertikale Zentrierung des Textes */
    border-radius: 50%;        /* Macht den Button rund (Kreis) */
    font-size: 20px;           /* Schriftgröße */
    text-decoration: none;     /* Entfernt den Link-Unterstrich */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung */
    transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
    margin-top: 50px;
    margin-left: 50px;
}

/* Hover-Effekt: Veränderung der Hintergrundfarbe und Vergrößerung */
.circle-button3:hover {
    background-color: black; /* Added missing semicolon */
    transform: scale(1.1);      /* Button vergrößern */
}



/*-------------- Buch Projekt UNTERSEITE --------------*/
.image-containerBuch {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    height: auto;
    object-fit: cover;
    max-width: max-content;    
}

.textBuchbauen {
    font-size: 20px;
    font-stretch: semi-expanded;
    text-align: justify;
    margin-top:10px;
    max-width: 400px;
    min-width: 300px;
    margin-right:50px ;
    left: 80%;
}

.circle-button {
    display: inline-block;
    width: 60px;               /* Breite des Buttons */
    height: 60px;              /* Höhe des Buttons */
    background-color: #007BFF; 
    color: white;              /* Weiße Schriftfarbe */
    text-align: center;        /* Text zentrieren */
    line-height: 60px;         /* Vertikale Zentrierung des Textes */
    border-radius: 50%;        /* Macht den Button rund (Kreis) */
    font-size: 20px;           /* Schriftgröße */
    text-decoration: none;     /* Entfernt den Link-Unterstrich */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung */
    transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
    margin-top: 50px;
    margin-left: 50px;
}

.circle-button:hover {
    background-color: rgb(218, 29, 29); /* Added missing semicolon */
    transform: scale(1.1);      /* Button vergrößern */
}

    

/*-------------- Erdnuss Projekt UNTERSEITE --------------*/
.TextErdnuss {
    font-size: 20px;
    font-stretch: semi-expanded;
    text-align: justify;
    margin:50px;  
}

.image-containerErdnuss {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 Bilder nebeneinander */
    gap: 20px; /* Abstand zwischen den Bildern */
    margin: 50px;   
    margin-top: 50px;
}

.image-containerErdnuss img {
    
    width: 100%; /* Bilder nehmen die volle Breite der Zellen ein */
    height: auto; /* Bildhöhe wird automatisch angepasst */
    object-fit: cover; /* Sorgt dafür, dass die Bilder das Verhältnis beibehalten und gleichzeitig den Container füllen */
}

.circle-button2 {
    display: inline-block;
    width: 60px;               /* Breite des Buttons */
    height: 60px;              /* Höhe des Buttons */
    background-color: #007BFF; 
    color: white;            /* Weiße Schriftfarbe */
    text-align: center;        /* Text zentrieren */
    line-height: 60px;         /* Vertikale Zentrierung des Textes */
    border-radius: 50%;        /* Macht den Button rund (Kreis) */
    font-size: 20px;           /* Schriftgröße */
    text-decoration: none;     /* Entfernt den Link-Unterstrich */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung */
    transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
    margin-top: 50px;
    margin-left: 50px;
}

/* Hover-Effekt: Veränderung der Hintergrundfarbe und Vergrößerung */
.circle-button2:hover {
    background-color: grey; /* Added missing semicolon */
    transform: scale(1.1);      /* Button vergrößern */
}

/*-------------- Kochbuch Projekt UNTERSEITE --------------*/
.image-containerKochbuch {
    margin-left: 50px;
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
    height: auto;
    object-fit: cover;
    max-width: max-content;
}

.TextKochbuch {
    font-size: 20px;
    font-stretch: semi-expanded;
    text-align: justify;
    margin-top:10px;
    max-width: 400px;
    min-width: 300px;
    margin-right:50px ;
    left: 80%;  
}

.circle-button4 {
    display: inline-block;
    width: 60px;               /* Breite des Buttons */
    height: 60px;              /* Höhe des Buttons */
    background-color: #007BFF; 
    color: white;              /* Weiße Schriftfarbe */
    text-align: center;        /* Text zentrieren */
    line-height: 60px;         /* Vertikale Zentrierung des Textes */
    border-radius: 50%;        /* Macht den Button rund (Kreis) */
    font-size: 20px;           /* Schriftgröße */
    text-decoration: none;     /* Entfernt den Link-Unterstrich */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Schattierung */
    transition: background-color 0.3s, transform 0.3s; /* Übergangseffekte */
    margin-top: 50px;
    margin-left: 50px;
}

/* Hover-Effekt: Veränderung der Hintergrundfarbe und Vergrößerung */
.circle-button4:hover {
    background-color: #273c7a; /* Added missing semicolon */
    transform: scale(1.1);      /* Button vergrößern */
}


/*-------------- Footer --------------*/
footer {
    background-color: #007BFF;
    height: 50px;
    font-size: 20px;
    color: #333;
    padding: 10px;
    padding-left: 50px;    
    text-align: left;
    display: flex;   
    bottom: 0;
    margin-top: 100px;
    
    
  }

